<IfModule mod_rewrite.c>
    DirectoryIndex /public/index.php
    RedirectMatch 404 /\.git
    RewriteEngine On

    # Удаляет слэш в конце
    RewriteBase /
    RewriteCond %{HTTP_HOST} (.*)
    RewriteCond %{REQUEST_URI} /$ [NC]
    RewriteRule ^(.*)(/)$ $1 [L,R=301]

    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
    RewriteRule ^(.+) /public/$1 [L]

    RewriteRule ^(.*)$ /public/ [QSA,L]

#    RewriteCond ^/i/([1-9][0-9])([1-9][0-9])([0-9]+).(.jpg:.png)
</IfModule>